body{
    color:#555;
    background-color:#ecf0f3;

   
}
.waper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: 300px;
    height: 500px;
    background-color:#ecf0f3;
    border-radius:30px;
    padding: 50px 35px 35px 35px;
    box-shadow: 10px 10px 15px #cdced1,
                -10px -10px 15px white;

}
.logo{
    background-image:url("img/logo.png");
    height: 80px;
    width: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    border-radius:50%;
    box-shadow: 0px 0px 2px #5f5f5f,
                6px 6px 12px #a7aaaf,
                -6px -6px 12px white;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 24px;
    padding-top: 30px;
    letter-spacing: .3px;
}
.sub-title{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 7px;
    letter-spacing:.3px;
    margin-bottom: 40px;
}


.input-group-text {

    background-color: white;
    border-right: 0 !important;

}
.form-control {
    border-left: 0 !important;
}
.input-group-text i {
    color: #999;
}

.form-control:focus {
    border-color: #ced4da;
}
span#basic-addon1,
input.form-control.shadow-none {
    border: none;
    background : transparent;
}
.input-group.mb-3 {
    border-radius: 20px;
    box-shadow: inset 8px 8px 15px #cdced1,
                inset -8px -8px 15px white;
    
}
button.btn.btn-primary {
    width: 100%;
    background: #2F9A41;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 8px #cdced1,
                -3px -3px 8px white;
}


